<mat-toolbar>
  <span>PunkDaBeer 🍺</span>

  <ng-container *ngIf="(userIsAuthenticated$ | async)">
    <form class="example-form" *ngIf="!currentUrl.includes('/beers/')">
      <input 
        type="text"
        placeholder="Search for a beer"
        [formControl]="control"
      >
      <!-- <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let street of filteredBeers | async" [value]="street">
        {{street}}
      </mat-option>
      </mat-autocomplete> -->
    </form>

    <button mat-stroked-button (click)="logout()">
      Logout
    </button>
  </ng-container>
</mat-toolbar>