.list-container {
  display: flex;
  padding: 4rem 0 0 0;

  .left {
    width: 75%;
    border-right: 1px solid rgba(157, 156, 156, 0.4);
  }

  .right {
    width: 25%;
  }

  .left,
  .right {
    max-height: 100vh;
    overflow: auto;

    mat-list {
      cursor: pointer;

      mat-list-item {
        background: white;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          margin: 2px;
        }
        
      }
    }
  }
}

@media (max-width: 800px) {
  .list-container{
    flex-direction: column;

    .left, .right {
      width: 100%;
    }
  }
  
}