<div class="list-container">
  <div class="left">
    <ng-container *ngIf="selectionBeers$ | async as selectionBeers">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Beers ({{selectionBeers.length}})
          </mat-panel-title>
          <mat-panel-description>
            This is a list of beers
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-list>
          <mat-list-item
            matRipple
            *ngFor="let beer of selectionBeers"
            (click)="goToBeer(beer._id)"
          >
            <img matListAvatar [src]="beer.image_url" alt="...">
            <h3 matLine> {{beer.name}} </h3>
            <p matLine>
              <span> {{beer.tagline}} </span>
              <span> -- {{beer.description}} </span>
            </p>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </ng-container>
  </div>
  
  <div class="right">
    <ng-container *ngIf="top10SelectionBeers | async as top10SelectionBeers">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Top 10 Beers
          </mat-panel-title>
          <mat-panel-description>
            This is a list of top 10 beers
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-list>
          <ng-container *ngIf="top10SelectionBeers.length > 0">
            <mat-list-item *ngFor="let beer of top10SelectionBeers">
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>{{beer.name}}</div>
              <div mat-line> {{beer.tagline}} </div>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
      
    </ng-container>
  </div>
</div>
