<ng-container *ngIf="beer">
  <div class="container">
    <div class="image">
      <img [src]="beer.image_url" alt="">
    </div>
    <div class="info">
      <h1>{{beer.name}}</h1>
      <h2>{{beer.tagline}}</h2>

      <h4>{{beer.description}}</h4>

      <div class="body">
        <div class="data">
          <label>First brewed</label>
          <span>{{beer.first_brewed}}</span>
        </div>
        
        <div class="data">
          <label>Abv</label>
          <span>{{beer.abv}}</span>
        </div>
        

        <div class="data">
          <label>Target fg</label>
          <span>{{beer.target_fg}}</span>
        </div>
        
        <div class="data">
          <label>Target og</label>
          <span>{{beer.target_og}}</span>
        </div>
        

        <div class="data">
          <label>Ebc</label>
          <span>{{beer.ebc}}</span>
        </div>
        

        <div class="data">
          <label>Srm</label>
          <span>{{beer.srm}}</span>
        </div>
        

        <div class="data">
          <label>PH</label>
          <span>{{beer.ph}}</span>
        </div>
        

        <div class="data">
          <label>Attenuation Level</label>
          <span>{{beer.attenuation_level}}</span>
        </div>
        

        <div class="data">
          <label>Volume</label>
          <span>{{beer.volume.value}} {{beer.volume.unit}}</span>
        </div>
        
        <div class="data">
          <label>Boil Volume</label>
          <span>{{beer.boil_volume.value}} {{beer.boil_volume.unit}}</span>
        </div>
        

        <div class="data">
          <label>Method</label>
          <span *ngFor="let mash of beer.method.mash_temp">
            {{mash.temp.value}} {{mash.temp.unit}} Duration: {{mash.duration}}
          </span>
          <span>Fermentation: {{beer.method.fermentation.temp.value}} {{beer.method.fermentation.temp.unit}}</span>
          <span>{{beer.method.twist}}</span>
        </div>
      </div>

      <div class="body">
        <div class="data">
          <label>Ingredients</label>
          <span *ngFor="let ingredient of beer.ingredients.malt">
            {{ingredient.name}}
          </span>
        
          <span *ngFor="let ingredient of beer.ingredients.hops">
            {{ingredient.name}}
          </span>

          <span>{{beer.ingredients.yeast}}</span>

        </div>

        <div class="data">
          <label>Food Pairing</label>
          <span *ngFor="let food of beer.food_pairing">
            {{food}}
          </span>
        </div>
        

        <div class="data">
          <label>Brewer Tips</label>
          <span>{{beer.brewers_tips}}</span>
        </div>
        

        <div class="data">
          <label>Contributed By</label>
          <span>{{beer.contributed_by}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
