.container {
  display: flex;
  padding: 5rem 0 0 0;
  height: 50rem;

  .image {
    height: 100%;
    margin: 0 3rem;

    img {
      width: 100%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    width: 100%;


    .body {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 17rem);

      .data {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        label {
          font-size: .75rem;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.4);
        }
  
        span {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;

    .image {
      height: 45vh;
      text-align: center;
      border-bottom: 1px solid rgba(157, 156, 156, 0.4);
      margin: 0;
      padding: 0 0 1rem 0;

      img { 
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }

    .info {
      padding: 1rem;

      .body {
        grid-template-columns: repeat(2, minmax(0, 1fr));

      }
    }
  }
}